/* .profile class renamed to .my-profile to avoid clashing with Bootstrap's grid system */
.my-profile {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row; /* Ensures horizontal alignment of content */
    align-items: center;
    z-index: 2000;
    position: relative; /* Make sure z-index works */
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: bold; /* Use font-weight instead of font-style for bold */
    text-align: left;
    padding: 10px;
    gap: 10px;
  }
  
  .my-profile img {
    max-width: 300px; /* Ensures image is responsive */
    border-radius: 50%; /* Keeps the circular profile image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the image */
    width:100%;
    height: auto;
  }
  