  .contact-info {
    padding-top: 20px;
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contact-item {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
  }
  
  .contact-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .contact-item a:hover {
    color: var(--accent-color);
  }
  
  .contact-icon:hover {
    color: var(--accent-color);
  }
  